<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>My GitHub project</title>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
    <!--[if lt IE 9]><script type='text/javascript' src='assets/javascript/html5.js'></script><![endif]-->
    <script type='text/javascript' src='assets/javascript/prettify.js'></script>
<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' type='text/css' href='/assets/css/skeleton/stylesheets/base.css' />
    <link rel='stylesheet' type='text/css' href='/assets/css/skeleton/stylesheets/skeleton.css' />
    <link rel='stylesheet' type='text/css' href='/assets/css/prettify.css' />
    <link rel='stylesheet' type='text/css' href='/assets/css/style.css' />
  </head>

  <body onload='prettyPrint()'>
    <div class='header-container'>
      <div class='container'>
        <header class='sixteen columns'>
        <div class='nine columns alpha header-logo'>
          <!--img class="masthead-logo" src="/assets/images/greenfrylabs-logo.svg" type="image/svg+xml"-->
          <img class="masthead-logo" src="/assets/images/greenfrylabs-logo.png">
        </div>
        <div class="seven columns alpha header-content">
          <h1>Built with Love</h1>
          <h2>Software to make the world a better place</h2>

          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
          </p>
        </div>
      </div>
      </header>
    </div>
    <div class='container content'>
      <div class='sixteen columns'>
        {{ content }}
      </div>
    </div>
    <footer>
    <div class='container'>
      <div class='ten columns offset-by-three repo-author'>
        <img src='http://placehold.it/100x105' class='repo-author-logo' />

        <p>
          Here you can put a bit of information about the author. Maybe a link to your twitter account or website. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris lacinia, enim quis interdum accumsan, odio velit ultricies lectus, sit amet pellentesque eros velit venenatis leo.
        </p>
      </div>

      <div class='sixteen columns credits'>
        <p>
          A Greenfry Labs creation, built with love. Copyright 2012. All rights reserved.
        </p>

      </div>
    </div>
    </footer>

    <a href='https://github.com/greenfrylabs/' class='github-ribbon'><img src='/assets/images/github-ribbons/red.png' /></a>
  </body>
</html>
